.app-container {
    max-width: 600px; /* Largura máxima do contêiner */
    margin-top: 10%;
    --position: fixed;
    --margin: 1 auto; /* Centraliza o contêiner na página */
    padding: 20px; /* Espaçamento interno do contêiner */
    
  }

/* Estilo para o grupo de formulário */
.form-group {
    max-width: 400px; /* Largura máxima do grupo de formulário */
    margin: 0 auto; /* Centraliza o grupo de formulário na página */
    padding: 20px; /* Espaçamento interno do grupo de formulário */
    border: 1px solid #ccc; /* Borda sólida com cor cinza */
    border-radius: 8px; /* Borda arredondada */
   
  }
  
  /* Estilo para os campos de entrada de texto */
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%; /* Largura total do campo de entrada */
    margin-bottom: 10px; /* Espaçamento inferior */
    padding: 10px; /* Espaçamento interno do campo */
    border: 1px solid #ccc; /* Borda sólida com cor cinza */
    border-radius: 4px; /* Borda arredondada */
    
  }
  
  /* Estilo para o botão de envio */
  .form-group button {
    width: 100%; /* Largura total do botão */
    padding: 10px; /* Espaçamento interno do botão */
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    border: none; /* Sem borda */
    border-radius: 4px; /* Borda arredondada */
    cursor: pointer; /* Cursor de ponteiro ao passar por cima */
  }
  
  /* Estilo para o link de esqueceu a senha */
  .form-group .forgot-password {
    text-align: right; /* Alinha o texto à direita */
  }
  
  /* Estilo para as mensagens de erro */
  .form-group .error-message {
    color: red; /* Cor do texto vermelho */
  }


/* Estilo para o link de esqueceu a senha */
#app-container .forgot-password {
  text-align: right; /* Alinha o texto à direita */
}

.icon{
  position: absolute;
  margin-top: 1%;
  color: black;
}

#imgfundo{
  position: relative;
  height: 100%;
  width: 105.4%;
  margin-top: 0%;
  margin-left: -4.2%;
  --padding: 0.1%;
  background-size: cover;
  filter: blur(5px);
  z-index: -1; 
  --background-image: none;
}

.logingeral{
  color: beige;
}

span{
  color: rgb(165, 103, 205);
}

/* src/index.css 
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
  margin-bottom: 15px;
}
*/