#imgtopo{
    margin-left: -1.2%;
    height: 60%;
    width: 54%;
    margin-top: 2%;
    --margin-left: -1.2%;
    --height: 500px;
    --margin-top: 15px;
    --border-radius: 10px;
    --border-style: outset;
    --border-color: white;
}

/*Ou colocar a imagem de fundo na metade da tela*/
#titulo{
    --cursor: pointer;
    --background-color: rgb(114, 73, 138);
    --border: fixed;
    --margin: fixed;
    display: block;
  --border-block: 50px dashed red;
    --padding: 5% 10px 10% ;
    padding: 3% 1% 1% ;

    margin-left: 56%;
    margin-right: 0%;
    margin-top: -34%;
    margin-bottom: 10%;
    --margin-bottom: 100px;
    height: 50%;
    --heght:500px
    text-decoration: none;
     color: rgb(179, 60, 149);
    --border-radius: 10px;
    --border-top: solid;
    --border-right: solid;
    --border-style: outset;
    border-color: white;
    --border-spacing: 50px;
    font-size: 60px;
    --font-display: block;
    text-align: center;
    text-shadow: 
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black;
    --box-sizing: border-box;
    
    
}
/*
#titulo{
    --cursor: pointer;
    background-color: rgb(114, 73, 138);
    --border: fixed;
    --margin: fixed;
    display: block;
  --border-block: 50px dashed red;
    --padding: 5% 10px 10% ;
    padding: 5% 1% 10% ;

    margin-left: 60%;
    margin-right: -1.2%;
    margin-top: -30.2%;
    margin-bottom: 10%;
    --margin-bottom: 100px;
    height: 50%;
    --heght:500px
    text-decoration: none;
    color: plum;
    --border-radius: 10px;
    --border-top: solid;
    --border-right: solid;
    --border-style: outset;
    border-color: white;
    --border-spacing: 50px;
    font-size: 60px;
    --font-display: block;
    text-align: center;
    text-shadow: 
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black;
    --box-sizing: border-box;
    
    
}
*/

#subtitulo{
    --box-sizing: border-box;
    --background-color:  rgb(114, 73, 138);
    text-align: center;
    margin-top: 5%;
    width: 102.4%;
    margin-left: -1.2%;
    color: rgb(179, 60, 149);
    --border-radius: 13px;
    --border-style: ridge;
    --border-color: white;
    --border-width: 5px;
    text-shadow: 
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black;
   --text-decoration:none;
   --overflow:visible;
   font-size: 36px;


}
/*
#subtitulo{
    box-sizing: border-box;
    background-color:  rgb(114, 73, 138);
    text-align: center;
    margin-top: 5%;
     width: 102.4%;
    margin-left: -1.2%;
    color: plum;
    --border-radius: 13px;
    --border-style: ridge;
    --border-color: white;
    --border-width: 5px;
    text-shadow: 
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black;
   --text-decoration:none;
   --overflow:visible;
   font-size: 36px;


}
*/

.texto1{
    font-size: 23px;
    
}
/*

#cardedireita{
  margin-left: 76%;
  width: 22%;
    
}
*/
/*
.cardedireita1{
    margin-left: 77%;
    margin-top: -670px;
    width: 22%;
     }}
  
}

.cardedireita2{
    margin-left: 77%;
    margin-top: 500px;
    width: 22%;
    
      
}

#cardeesquerda2{
    margin-top: -207px;

}
*/
#blocomeio{
    background-color: white;
    padding: 0.8%;
    --border-style:solid;
    --border-radius: 20px;
    --border-color: azure;
    --border-width: 14px;
    width: 102.4%;
    margin-left: -1.2%;
    margin-top: 1%;
    
    
    
}

.cardes{
    width: 30%;
    margin-top: 3%;
    margin-bottom: -1%;
    margin-left: 2%;
    --text-align:center;
    
}

#imgmeio{
    width: 50%;
    margin-top: -60%;
    --margin-top: -610px;
    margin-left: 48%;
    margin-bottom: 2%;
    --margin-bottom: 200px;
    --border-radius: 10px;
    --border-style: solid;
    --border-width: 5px;
    --border-color: rgb(109, 38, 109);
    
   --image-rendering: optimizeSpeed;
    

}

#cardegrup{
    width: 102.4%;
    margin-left: -1.2%;
    margin-top: 5%;
}

.cardecorpo{
    background-color: rgb(114, 73, 138);
}
.cardetitulo{
    color: plum;
}

.cardetexto{
    color: plum;
    text-shadow: 
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black;
}

/*
a:link{
    color: purple;
    text-decoration:sublime;
}
 */
.link:link{
    color: purple;
    text-decoration: none;
    
}
.link:visited{
    --visibility: visible;
    color: plum;
    text-decoration: none;
    
}
.link:hover{
    color: blueviolet;
    text-decoration:none;
}

.imgcardegrupo{
    --cursor: pointer;
    --border-radius: 10px;
    --border-style: solid;
    --border-color: white;
    height: 65%;
    
}

/*
footer{
    box-sizing: border-box;
    margin-top: 5%;
    color: #c72525;
    background-color: beige;
    border-style:groove;
    border-color: black;
    border-width: 5px;
    
}

#logofooter{
    width: 10%;
    height: 20%;
    margin-left: 3%;
    margin-top: 3%;
    border-style: double;
    border-color: black;
}

#textofooter{
    margin-left: 20%;
    margin-bottom: 1%;
}*/

footer {
    background-color: black;
    margin-top: 5%;
    width: 102.4%;
    margin-left: -1.2%;
    margin-bottom: -1.5%;
    --border-style: solid;
    --border-color: rgb(114, 73, 138);
    padding: 1% 0;
   --padding: 20px 0;
    text-align: left;
    --clear:both;
  }
  
  .container {
    max-width: 51%;
    --max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footerlogo img {
    max-width: 13%;
    --max-width: 100px;
    --border-style: double;
    --border-color: blueviolet;
  }
  
  .columns {
    display: flex;
    justify-content: space-between 1%;
    
    margin-top: 2%;
    --margin-top: 20px;
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
    --margin: 0 1%;
  }
  
  .column h3 {
    font-size: 18px;
    margin-bottom: 10%;
    --margin-bottom: 10px;
    color: blueviolet;
  }
  
  .column p {
    font-size: 14px;
    color: plum;
  }
  